.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s ease;
  }
  .App-logo:hover {
    animation: App-logo-spin infinite 1s ease;
  }
}

.App-header {
  background-color: #002c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-2 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.App-logo2 {
  pointer-events: none;
  cursor: pointer;
  animation: spinny 7s ease-in-out infinite alternate;
}
.App-logo2:hover {
  animation: App-logo-spin-2 infinite 1s ease;
}
.generateButton {
  border-radius: 20px;
}
.generateButton:hover {
  box-shadow: 0px 0px 20px red;
}

.spin1 {
  animation: spinny 1s linear; 
}
.spin2 {
  animation: spinny 2s linear; 
}

@keyframes spinny {
  from {
    transform: scale(0.5);
  } to {
    transform: scale(1);
  }
}

.pastNames {
  min-height: 100px;
  max-height: 300px;
  overflow: scroll;
}